extends @/templates/_layout.pug

block content
  header(class="container my-8 space-y-2 sm:my-16")
    h1(class="-ml-1 text-4xl tracking-tight text-teal-600 transition dark:text-teal-400") Thank you!
  main(class="container my-8 space-y-8 sm:my-16 sm:space-y-16")
    p(class="text-lg") I'll get back to you shortly. #[a(href="/") Back to home page].
