form(action=CONTACT_FORM_ACTION, method="POST", class="grid grid-cols-1 gap-4")
  input(type="hidden", name="access_key", value="3f2f64a5-7bc4-4ece-a79b-1286abee0e68")
  input(type="hidden", name="redirect", value="https://sergioagosti.org/thank-you")
  label(class="grid gap-2") Name
    input(type="text", name="name", required, class="bg-teal-600 px-4 py-2 text-white dark:bg-teal-100 dark:text-black")
  label(class="grid gap-2") Email
    input(type="email", name="email", required, class="bg-teal-600 px-4 py-2 text-white dark:bg-teal-100 dark:text-black")
  label(class="grid gap-2") Message
    textarea(name="message", required, rows="6", class="bg-teal-600 px-4 py-2 text-white dark:bg-teal-100 dark:text-black")
  button(type="submit", class="justify-self-start bg-teal-400 px-4 py-2 text-black") Contact me
