@layer theme, base, components, utilities;

@import "@fontsource/commit-mono";
@import "tailwindcss";

@theme {
  --font-mono: "Commit Mono", Menlo, Consolas, monospace;
}

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(:not(.light *)) {
      @slot;
    }
  }
}

@utility container {
  @apply mx-auto max-w-2xl px-4;
}

@layer base {
  :any-link {
    @apply text-teal-600 underline-offset-4 transition not-hover:decoration-current/50 dark:text-teal-400;
  }
  :focus-visible {
    @apply shadow-[0_0_1rem_.2rem] ring-2 shadow-teal-400 ring-teal-400 ring-offset-2 ring-offset-white transition outline-none dark:ring-offset-teal-950;
  }
  .font-mono {
    @apply [font-feature-settings:'ss03','ss04','ss05','cv01','cv02','cv04'];
  }
}
