@import "@fontsource/commit-mono";
@import "tailwindcss";

@theme {
  --font-mono: "Commit Mono", Menlo, Consolas, monospace;
}

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:not(.light):not(.light *) {
      @slot;
    }
  }
}

@utility container {
  @apply mx-auto max-w-2xl px-4;
}

@utility link {
  @apply text-teal-600 underline underline-offset-4 transition not-hover:decoration-current/50 not-disabled:hover:cursor-pointer dark:text-teal-400;
}

@utility button {
  @apply rounded border-teal-600/30 bg-teal-600/10 px-1.5 py-0.5 text-teal-600 transition not-disabled:hover:cursor-pointer not-disabled:hover:border-teal-600/50 not-disabled:hover:bg-teal-600/20 not-disabled:hover:text-teal-700 dark:border-teal-400/30 dark:bg-teal-400/10 dark:text-teal-400 dark:not-disabled:hover:border-teal-400/50 dark:not-disabled:hover:bg-teal-400/20 dark:not-disabled:hover:text-teal-300;
}

@layer base {
  :any-link {
    @apply link;
  }
  :focus-visible {
    @apply shadow-[0_0_1rem_.2rem] ring-2 shadow-teal-400 ring-teal-400 ring-offset-2 ring-offset-white transition outline-none dark:ring-offset-teal-950;
  }
  .font-mono {
    @apply [font-feature-settings:'ss03','ss04','ss05','cv01','cv02','cv04'];
  }
}
