@layer theme, base, components, utilities;

@import "@fontsource/commit-mono" layer(theme);
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-mono: "Commit Mono", Menlo, Consolas, monospace;
}

@custom-variant js (&:where(.js, .js *));

@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    &:where(:not(.light *)) {
      @slot;
    }
  }
}

@utility container {
  @apply mx-auto max-w-2xl px-4;
}

@layer base {
  * {
    @apply m-0 box-border font-normal;
  }
  :any-link {
    @apply text-teal-600 underline-offset-4 transition not-hover:decoration-current/50 dark:text-teal-400;
  }
  .font-mono {
    @apply [font-feature-settings:'ss03','ss04','ss05','cv01','cv02','cv04'];
  }
}
