@import "@fontsource/commit-mono";
@import "tailwindcss";

@theme {
  --font-mono: "Commit Mono", Menlo, Consolas, monospace;
  --font-mono--font-feature-settings: "ss03", "ss04", "ss05", "cv01", "cv02", "cv06", "cv07", "cv08";
  --type-ratio: 1.25;
}

@custom-variant dark {
  @media screen {
    &:where(.dark, .dark *) {
      @slot;
    }
    @media (prefers-color-scheme: dark) {
      &:not(.light):not(.light *) {
        @slot;
      }
    }
  }
}

@utility container {
  @apply not-print:mx-auto not-print:max-w-2xl not-print:px-4;
}

@utility link {
  @apply text-teal-700 not-focus-visible:underline underline-offset-4 transition not-hover:decoration-current/50 not-disabled:hover:cursor-pointer dark:text-teal-400;
}

@utility glow {
  @apply shadow-[0_0_1.5rem_-0.25rem] shadow-teal-600/30 dark:shadow-teal-400/25;
}

/* Pair with a border-width utility, so bars can glow from one edge only. */
@utility glow-border {
  @apply border-teal-600/40 dark:border-teal-400/40;
}

@utility button {
  @apply rounded border-teal-600/30 bg-teal-600/10 px-1.25 text-teal-800 transition;
  @apply not-disabled:hover:cursor-pointer not-disabled:hover:border-teal-600/50 not-disabled:hover:bg-teal-600/20 not-disabled:hover:text-teal-900;
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply dark:border-teal-400/30 dark:bg-teal-400/10 dark:text-teal-400;
  @apply dark:not-disabled:hover:border-teal-400/50 dark:not-disabled:hover:bg-teal-400/20 dark:not-disabled:hover:text-teal-300;
}

@layer base {
  :any-link {
    @apply link;
  }
  :focus-visible {
    @apply rounded shadow-[0_0_1rem_.2rem] ring-2 shadow-teal-400 ring-teal-400 ring-offset-2 ring-offset-teal-100 transition outline-none dark:ring-offset-teal-950;
  }

  h1,
  h2,
  h3,
  small,
  .small,
  .smaller {
    @apply text-[calc(1em*pow(var(--type-ratio),var(--type-power)))];
  }
  h1,
  h2,
  h3 {
    @apply font-semibold;
  }
  h1 {
    @apply [--type-power:3];
  }
  h2 {
    @apply [--type-power:2] print:[--type-power:-1] print:uppercase print:text-teal-700;
  }
  h3 {
    @apply [--type-power:1] print:[--type-power:0];
  }
  small,
  .small {
    @apply [--type-power:-1];
  }
  .smaller {
    @apply [--type-power:-2];
  }
  code {
    @apply rounded bg-teal-600/20 px-1.25 text-gray-900 dark:bg-teal-400/20 dark:text-gray-100;
  }
}
