@import "tailwindcss";

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  @apply mx-auto max-w-2xl px-4;
}

@layer base {
  * {
    @apply m-0 box-border font-normal;
  }
  :any-link {
    @apply text-teal-600 underline-offset-4 transition not-hover:decoration-current/50 dark:text-teal-400;
  }
}
