@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --font-mono: "JetBrains Mono", monospace;
}

@custom-variant dark (&:where(.dark, .dark *));

@utility container {
  @apply mx-auto max-w-2xl px-4;
}

@layer base {
  * {
    @apply m-0 box-border font-normal;
  }
}
